<div style="background:black">
    @*    @await Component.InvokeAsync("Widget", new { widgetZone = "header" })
    <div class="container">
    <div class="headBottom d-flex align-items-center d-lg-inline-flex text-lg-left text-center mt-0 mb-0">
    <a class="js-offcanvas-trigger mobile-menu-trigger d-lg-none d-flex justify-content-center align-content-center mr-3" data-offcanvas-trigger="mobile_menu" href="#mobile_menu">
    <span class="mdi mdi-menu"></span>
    </a>
    <div class="header-logo pr-0 pl-0 mx-lg-0 mx-auto d-inline-flex align-items-center">
    @await Component.InvokeAsync("Logo")
    </div>
    <div class="formSearch ml-lg-auto ml-2 pl-lg-3 pl-0 d-inline-flex align-items-end">
    @await Component.InvokeAsync("SearchBox")
    </div>
    <a class="js-offcanvas-trigger user-panel-trigger d-flex justify-content-center align-content-center ml-lg-3 ml-2" data-offcanvas-trigger="user_panel" href="#user_panel">
    <span class="mdi mdi-account-outline"></span>
    </a>
    @await Component.InvokeAsync("ShoppingCartLinks")
    </div>
    </div>
    <nav class="navbar mainNav navbar-expand-sm offcanvas-desktop">
    <div class="navbar-collapse container">
    <ul class="navbar-nav">
    @await Component.InvokeAsync("TopMenu")
    </ul>
    </div>
    </nav>

    @await Component.InvokeAsync("TopMenuCategory")*@

    @*desktop*@
    <div class="desktopNav" style="background: black">
        <nav class="navbar navbar-expand-lg  navcontainerweb">

            <div Class="collapse navbar-collapse" " id="navbarText">
                <ul Class="navbar-nav mr-auto"
                    style="padding-top: 7px">
                    <a class="navbar-brand" href="@("https://members.risenation.ph/public/schedules")">
                        <img width="220" height="48" style="margin-top: -10px;  margin-right:0"
                             src="https://aguinaldo.s3.ap-southeast-1.amazonaws.com/rn-logo-horizontal-bgcph-light-350x76px.png" />
                    </a>

                    <li class="nav-item ">
                        <a class="nav-link" href="@("https://risenation.ph/")">
                            Home <span class="sr-only">(current)</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="@("https://risenation.ph/" + "about")">About Us</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="@("/public/" + "schedules")">Classes</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="@("https://risenation.ph/" + "packages")">Packages</a>
                    </li>


            @if (User.Identity.IsAuthenticated)
            {
                       
                         <li class="nav-item">
                            <a class="nav-link" href="/">My Account</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="@("https://risenation.ph/" + "cart")">Cart</a>
                        </li>
            }
            else
            {
                       <li class="nav-item">
                            <a class="nav-link" href="@("https://risenation.ph/" + "member-login")">Login</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="@("https://members.risenation.ph/public/" + "new-climber")">Register</a>
                        </li> 
            }
           @* @if (User.Identity.IsAuthenticated)
            {
                        <li class="nav-item">
                            <a class="nav-link" href="../admin/event-list" style="color:#FFCB1B">Admin</a>
                        </li>
            }*@
            @* <li>
                    <a class="nav-link" data-offcanvas-trigger="user_panel" href="#user_panel">
                    Account
                    </a>
                    </li>*@
                </ul>
            </div>
        </nav>
    </div>




@*mobile*@
@* <div class="mobileNav" style="background: black;margin-bottom:-1px">
    <div style="background:black;padding:1px 25px">
    <a class="mt-5" href="@("/")">
    <img width="100" height="100" src="https://aguinaldo.s3.ap-southeast-1.amazonaws.com/RNLogo.png" />
    </a>
    <span style="font-size:30px;cursor:pointer;float:right" onclick="openNav()">
    <i style="color:#CCA315;margin-top:40px" class="fa fa-bars"></i>
    </span>
    </div>

    <nav class="">

    <div Class="overlay" " id="myNav">
    <ul Class="overlay-content" id="overlay-navbarText"
    style="margin-top:-90px">

    <li class="nav-item ">
    <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
    </li>
    <li class="nav-item">
    <a class="nav-link" href="https://test.g8academy.com/public/weekly-training-schedule">Schedule</a>
    </li>
    <li class="nav-item">
    <a class="nav-link" href="/packages/">Packages</a>
    </li>

    <li class="nav-item">
    <a class="nav-link" href="https://dev.g8sports.shop/gallery">Gallery</a>
    </li>
    <li class="nav-item">
    <a class="nav-link" href="https://dev.g8sports.shop/venues">Venues</a>
    </li>

    @if (User.Identity.IsAuthenticated)
    {
    <li class="nav-item">
    <a class="nav-link" href="https://test.g8academy.com/">My Account</a>
    </li>
    <li class="nav-item">
    <a class="nav-link" href="/cart">Cart</a>
    </li>
    }
    else
    {
    <li class="nav-item dropdown">
    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true"
    aria-expanded="false">
    G8 MEMBERS
    </a>
    <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
    <a class="dropdown-item" href="https://test.g8academy.com/Identity/Account/Login?ReturnUrl=%2F">Login</a>
    <a class="dropdown-item" href="https://test.g8academy.com/public/account/new-account">CREATE ACCOUNT</a>
    </div>
    </li>
    <li class="nav-item">
    <a class="nav-link" href="https://test.g8academy.com/public/account/freetrial" style="color:#CCA315">Free Trial</a>
    </li>
    }
    <li>
    <center>
    <a href="@("/")">
    <img width="100" height="100" src="https://aguinaldo.s3.ap-southeast-1.amazonaws.com/RNLogo.png" />
    </a>
    <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">Close</a>
    </center>
    </li>
    </ul>
    </div>
    </nav>
    </div>
    *@

</div>


<script>
    function openNav() {
        document.getElementById("myNav").style.width = "100%";
    }

    function closeNav() {
        document.getElementById("myNav").style.width = "0%";
    }
</script>